.page-header
  %h1
    Kheper
    %small
      Context-based Machine Translation
%p
  Kheper (also spelled Khepera, Khepri, Khepra, Chepri) is a god in ancient Egyptian religion. Khepri was connected with the scarab beetle (kheprer), because the scarab rolls balls of dung across the ground, an act that the Egyptians saw as a symbol of the forces that move the sun across the sky. 

%p
  Khepri also represented creation and rebirth, and he was specifically connected with the rising sun and the mythical creation of the world. The Egyptian connected his name with the Egyptian language verb kheper, meaning "develop" or "come into being".[1]

.spacer.clearfix
.spacer.clearfix
.quote
  %i.icon-quote-left.icon-2x.pull-left.icon-muted
  - quotes = ["You shall know a word by the company it keeps (Firth, J. R. 1957:11)",
    "For a large class of cases -- though not for all -- in which we employ the word 'meaning' it can be defined thus: the meaning of a word is its use in the language. (Philosophical Investigations ยง43)",
    "Der Fliege den Ausweg aus dem Fliegenglas zeigen. (Philosophical Investigations ยง309)",
    "The limits of my language mean the limits of my world. (Tractatus Logico-Philosophicus 5.6)",
    "Moses did not exist. (Philosophical Investigations ยง79)"]
  %span.quote= quotes.sample
  %i.icon-quote-right.icon-2x.pull-right.icon-muted
